*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/gradle.properties
/gradlew
/gradlew.bat
.idea/$CACHE_FILE$
.idea/codeStyles
.idea/dbnavigator.xml
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/libs/
app/proguard-rules.pro
app/src/androidTest/
app/src/test/
immersion/consumer-rules.pro
immersion/libs/
immersion/proguard-rules.pro
immersion/src/androidTest/
immersion/src/test/
